<div class="form_container">
	<h1>Editar Enfermedad</h1>

	<%= render 'form', disease: @disease %>

	<div class="links_container">
		<%= link_to 'Mostrar', @disease %> |
		<%= link_to 'Volver', diseases_path %>
	</div>
</div>