<div class="form_container">
	<h1>Editar Plaga</h1>

	<%= render 'form', plague: @plague %>

	<div class="links_container">
		<%= link_to 'Mostrar', @plague %> |
		<%= link_to 'Volver', plagues_path %>
	</div>
</div>